doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
  body
    nav
        ul
            li(class="dropdown") 
                a(href="/admin") test_trading
                a(href="/home") HOME
                a(href="/market") MARKET
                a(href="/news") NEWS
            div(class="login_menu")
                li(class="dropdown")
                    a(href="/login") LOGIN
    block content
    //- block buysell
  
